body { background: #1a1a1a; color: #eee; font-family: sans-serif; margin: 20px; }

#tablero { 
    display: grid; 
    grid-template-columns: repeat(26, 30px); 
    grid-template-rows: repeat(19, 30px); 
    border: 4px solid #444;
    background-color: #000;
}

.casilla { 
    width: 30px; 
    height: 30px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    border: 1px solid #111; 
}

/* Visibilidad y Terreno */
.oscuridad { background: #000; } 
.visible { background: #2c3e50; } /* Suelo transitable */
.muro { background: #5d6d7e !important; border: 1px solid #34495e; } /* Muros */
.puerta { background: #d35400 !important; border: 1px solid #a04000; } /* Puertas */

/* Diseño UI */
.grid-heroe { display: flex; gap: 20px; justify-content: center; margin-top: 20px; }
.card { background: #222; border: 2px solid #555; padding: 15px; cursor: pointer; width: 200px; text-align: center; }
.card:hover { border-color: #d4af37; }
#juego-contenedor { display: flex; gap: 20px; }
.panel-lateral { width: 300px; padding: 20px; border-left: 2px solid #333; background: #222; }
#log-combate { height: 300px; overflow-y: scroll; background: #000; margin-top: 20px; padding: 10px; font-size: 0.85em; }
